%h1 Pages

%h4= link_to "Aenean eget sem vestibulum nisi volutpat semper.", "#"
%p Last update by <strong>mackato</strong> on <strong>June 3, 2011</strong>

%h4= link_to "Fusce sollicitudin risus venenatis est pulvinar sit amet cursus nisi feugiat.", "#"
%p Last update by <strong>suchi</strong> on <strong>June 1, 2011</strong>

%h4= link_to "Home", root_path
%p Last update by <strong>mackato</strong> on <strong>June 3, 2011</strong>

%h4= link_to "Integer elit lacus, suscipit sit amet iaculis ac.", "#"
%p Last update by <strong>cherenkov</strong> on <strong>June 2, 2011</strong>

%h4= link_to "Praesent sed justo dolor. Aenean egestas ornare faucibus.", "#"
%p Last update by <strong>cherenkov</strong> on <strong>June 3, 2011</strong>

%h4= link_to "Sed dapibus lectus sagittis dui dignissim posuere sed nec lectus.", "#"
%p Last update by <strong>mackato</strong> on <strong>June 1, 2011</strong>
