%h1 New Page

%div
  = form_for @page do |f|
    = f.label :title
    = f.text_field :title, :class => "full-width"
    = f.label :body
    = f.text_area :body, :class => "full-width", :rows => 20
    = f.submit "Create"
