<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]--> 
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]--> 
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= yield :title
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    <!--[if lt IE 9]>
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    <![endif]-->
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    = stylesheet_link_tag :all
  %body
    = flash_tag
    #header.container
      .twelve.columns
        %h1#logo= link_to "Rails3dojo", root_path
      .four.columns
        - if current_user
          %span#user_name= current_user.name
          |
          = link_to "Logout", session_path(session[:user_id], :before_path => request.path), :method => :delete
        - else
          = form_tag sessions_path, :id => "login_form" do
            %label{:for => "user_name"} Name
            = text_field_tag :user_name
            = hidden_field_tag :before_path, request.path
            = submit_tag "Login"
      .sixteen.columns
        %hr
      .twelve.columns
        = yield
      .four.columns
        %h3 Shortcuts
        %ul
          %li= link_to "Home", root_path
          %li= link_to "Pages", pages_path
          %li= link_to "New Page", new_page_path

    = javascript_include_tag :all